<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c81a37063f.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="header">
            <a href="/home"><img id="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="240"
                    height="100"></a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar...">
                <button button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <p class="compracuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
                crédito!</p>
        </div>
        <div class="menu-btn">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <nav class="nav">
        <ul class="botones">
            <li><a href="#">Ofertas </a> </li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <div class="user-actions">
            <a href="/register">Crear tu cuenta <i class="far fa-id-card"></i></a>
            <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
            <a href="#">Mis Compras <i class="fas fa-shopping-basket"></i> </a>

        </div>
    </nav>
    <nav>
        <img class="banner" src="/images/img-home-banner.jpg" alt="img-gome-banner" height="400">
    </nav>

    <main class="principal">
        <h2 class="titulo">Basado en tu última visita</h2>
        <section class="conteinerArt">
            <div class="articulos">
                <img class="img" src="/images/img-cafetera-moulinex.jpg" alt="MacBook" height="400" class="imagenes">
                <div class="caja-arti">
                    <i class="fa-solid fa-truck product-delivery-icon"></i>
                    <div class="info">
                        <p class="precio-desc">$6.770</p>
                        <p class="descuento-desc">40% OFF</p>
                    </div>

                    <h4 class="desc-art">Cafetera Moulinex</h4>
                </div>
            </div>

            <div class="articulos">
                <img class="img" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" height="400" class="imagenes">
                <div class="caja-arti">
                    <i class="fa-solid fa-truck product-delivery-icon"></i>
                    <div class="info">

                        <p class="precio-desc">$230.000</p>
                        <p class="descuento-desc">20% OFF</p>
                    </div>

                    <h4 class="desc-art">MacBook Pro 2019</h4>
                </div>
            </div>

            <div class="articulos">
                <img class="img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" height="400"
                    class="imagenes">
                <div class="caja-arti">

                    <i class="fa-solid fa-truck product-delivery-icon"></i>
                    <div class="info">

                        <p class="precio-desc">$70.500</p>
                        <p class="descuento-desc">10% OFF</p>
                    </div>

                    <h4 class="desc-art">Samsung Galaxy S10</h4>
                </div>
            </div>

            <div class="articulos">
                <img class="img" src="/images/img-tv-samsung-smart.jpg" alt="Smart TV" height="400" class="imagenes">
                <div class="caja-arti">
                    <i class="fa-solid fa-truck product-delivery-icon"></i>
                    <div class="info">

                        <p class="precio-desc">$23.200</p>
                        <p class="descuento-desc">5% OFF</p>
                    </div>
                    <h4 class="desc-art">SmartTv Samsung 43"</h4>
                </div>
        </section>
        <h2>Ofertas</h2>
        <section class="conteinerArt">

            <div class="articulos">
                <img class="img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" height="400">
                <p class="precio-desc">$6.770</p>
                <p class="descuento-desc">40% OFF</p>
                <div>
                    <p class="desc-art"><b>Cafetera Moulinex</b></p>
                </div>

            </div>
            <div class="articulos">
                <img class="img" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" height="400">
                <p class="precio-desc">$230.000</p>
                <p class="descuento-desc">20% OFF</p>
                <div>
                    <p class="desc-art"><b>MacBook Pro 2019</b></p>
                </div>
            </div>
            <div class="articulos">
                <img class="img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" height="400">
                <p class="precio-desc">$70.500</p>
                <p class="descuento-desc">10% OFF</p>
                <div>
                    <p class="desc-art"><b>Samsung Galaxy S10</p></b>
                </div>
            </div>
            <div class="articulos">
                <img class="img" src="/images/img-tv-samsung-smart.jpg" alt="Smart TV" height="400">
                <p class="precio-desc">$23.200</p>
                <p class="descuento-desc">5% OFF</p>
                <div>
                    <p class="desc-art"><b>SmartTv Samsung 43"</p></b>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="footercont">
            <i class="fa-solid fa-credit-card fa-2xl"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift fa-2xl"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield fa-2xl"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <div class="copyright-footer">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>
</body>

</html>