<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c81a37063f.js" crossorigin="anonymous"></script>
  <title>Mercado Liebre</title>
</head>

<body>
  <header class="header">
    <a href="/home"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="240" height="100"></a> 
    <div class="search-bar">
      <input type="text" placeholder="Buscar...">
      <button><i class="fa-solid fa-magnifying-glass"></i></button>

    </div>
    <p class="compracuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito!</p>
  </header>
  <main class="login">
    <div class="main-form">
      <form action="/" method="POST">
        <nav>
          <label class="main-pass"></label>
        </nav>
        <input class="main-em1" type="text" name="user" required placeholder="Nombre de usuario">
        <nav>
          <label class="main-pass"></label>
        </nav>
        <input class="main-em1" type="password" name="password" required placeholder="Elegí tu contraseña">
        </nav>
        <nav class="conteiner-sesion">
          <p>
            <a href="/home"><button class="main-sesion" type="submit">Enviar</button></a>
          </p>
        </nav>
      
      </form>
    </div>
    
  </main>
  <footer>
    <section>
        <i class="fa-solid fa-credit-card fa-2xl"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <i class="fa-solid fa-gift fa-2xl"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section>
        <i class="fa-solid fa-user-shield fa-2xl"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
    <div class="copyright-footer">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>

</footer>
</body>